##Heart Failure Prediction Dataset
**Raw** Attribute Information:

1.**Age:** age of the patient [years]

2.**Sex:** sex of the patient [M: Male, F: Female]

3.**ChestPainType:** chest pain type [TA: Typical Angina, ATA: Atypical Angina, NAP: Non-Anginal Pain, ASY: Asymptomatic]

4.**RestingBP:** resting blood pressure [mm Hg]

5.**Cholesterol:** serum cholesterol [mm/dl]

6.**FastingBS:** fasting blood sugar [1: if FastingBS > 120 mg/dl, 0: otherwise]

7.**RestingECG:** resting electrocardiogram results [Normal: Normal, ST: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV), LVH: showing probable or definite left ventricular hypertrophy by Estes' criteria]

8.**MaxHR:** maximum heart rate achieved [Numeric value between 60 and 202]

9.**ExerciseAngina:** exercise-induced angina [Y: Yes, N: No]

10.**Oldpeak:** oldpeak = ST [Numeric value measured in depression]

11.**ST_Slope:** the slope of the peak exercise ST segment [Up: upsloping, Flat: flat, Down: downsloping]

**Truth Label:HeartDisease: output class [1: heart disease, 0: Normal]**

##To do N#1
>>Look up labels structure, change into better representations.

In [ ]:
#Importing libs :)
import tensorflow as tf
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras.utils import plot_model

In [ ]:
#Reading the dataset
heart_failure = pd.read_csv("/content/sample_data/heart.csv")

In [ ]:
heart_failure

     Age Sex ChestPainType  ...  Oldpeak  ST_Slope  HeartDisease
0     40   M           ATA  ...      0.0        Up             0
1     49   F           NAP  ...      1.0      Flat             1
2     37   M           ATA  ...      0.0        Up             0
3     48   F           ASY  ...      1.5      Flat             1
4     54   M           NAP  ...      0.0        Up             0
..   ...  ..           ...  ...      ...       ...           ...
913   45   M            TA  ...      1.2      Flat             1
914   68   M           ASY  ...      3.4      Flat             1
915   57   M           ASY  ...      1.2      Flat             1
916   57   F           ATA  ...      0.0      Flat             1
917   38   M           NAP  ...      0.0        Up             0

[918 rows x 12 columns]

In [ ]:
heart_failure.shape

(918, 12)

Normalizing the data

In [ ]:
from sklearn.compose import make_column_transformer
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.model_selection import train_test_split

In [ ]:
# One-hot enconding the dataframe
heart_failure_onehot = pd.get_dummies(heart_failure)
heart_failure_onehot.head()

   Age  RestingBP  Cholesterol  ...  ST_Slope_Down  ST_Slope_Flat  ST_Slope_Up
0   40        140          289  ...              0              0            1
1   49        160          180  ...              0              1            0
2   37        130          283  ...              0              0            1
3   48        138          214  ...              0              1            0
4   54        150          195  ...              0              0            1

[5 rows x 21 columns]

In [ ]:
#Create a column transformer
ct = make_column_transformer(
    (MinMaxScaler(), ["Age", "RestingBP", "Cholesterol", "MaxHR", "Oldpeak"])) #turn all this values betwen 0 and 1

In [ ]:
#Creating x and y
X = heart_failure_onehot.drop("HeartDisease", axis=1)
y = heart_failure_onehot["HeartDisease"]

In [ ]:
#Spliting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
ct.fit_transform(X_train)

array([[0.27083333, 0.6       , 0.39800995, 0.94366197, 0.38636364],
       [0.14583333, 0.65      , 0.34660033, 0.83098592, 0.29545455],
       [0.5625    , 0.75      , 0.35323383, 0.45774648, 0.40909091],
       ...,
       [0.64583333, 0.65      , 0.41956882, 0.5915493 , 0.45454545],
       [0.64583333, 0.76      , 0.        , 0.4084507 , 0.29545455],
       [0.22916667, 0.75      , 0.65008292, 0.49295775, 0.52272727]])

In [ ]:
#Transforming training and testing data with normalization (MinMaxScaler and OneHotEncoder)
X_train_normal = ct.transform(X_train)
X_test_normal = ct.transform(X_test)

In [ ]:
X_train.shape, y_test.shape

((734, 20), (184,))

In [ ]:
#Creating the model
#tf.random.set_seed(42)

#model_1=tf.keras.Sequential([
#                             tf.keras.layers.Dense(4, activation="relu"),
#                             tf.keras.layers.Dense(4, activation="relu"),
#                             tf.keras.layers.Dense(20, activation="sigmoid")
#])

#model_1.compile(loss=tf.keras.losses.categorical_crossentropy,
#                optimizer=tf.keras.optimizers.Adam(),
#                metrics=["accuracy"])

#model_1.fit(X_train, y_train, epochs=50)

Epoch 1/50

ValueError: ignored